/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/css_pre
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
composer.lock
Homestead.json
Homestead.yaml
npm-debug.log
package-lock.json
yarn-error.log
/.idea
/.vscode
